flows/Add_Chapter_TAs_to_Class_Session.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Map_Contact_ID_to_Campaign_Member</name>
        <label>Map Contact ID to Campaign Member</label>
        <locationX>89</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberRecord.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignIDFromPB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_the_Campaign_Member_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_the_Campaign_Member_Collection</name>
        <label>Populate the Campaign Member Collection</label>
        <locationX>104</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>TACampaignMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CampaignMemberRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contacts</targetReference>
        </connector>
    </assignments>
    <description>Add local potential Teaching Assistants as Campaign Members on the Class Session campaign</description>
    <interviewLabel>Add Chapter TAs to Class Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Chapter TAs to Class Session</label>
    <loops>
        <name>Loop_through_contacts</name>
        <label>Loop through contacts</label>
        <locationX>382</locationX>
        <locationY>163</locationY>
        <assignNextValueToReference>ContactRecord</assignNextValueToReference>
        <collectionReference>ChapterTAContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Contact_ID_to_Campaign_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Campaign_Members_for_TAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Members_for_TAs</name>
        <label>Create Campaign Members for TAs</label>
        <locationX>690</locationX>
        <locationY>243</locationY>
        <inputReference>TACampaignMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Chapter_TAs</name>
        <label>Find Chapter TAs</label>
        <locationX>118</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIDFromPB</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ChapterTAContacts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Find_Chapter_TAs</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountIDFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignIDFromPB</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>ChapterTAContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>TACampaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
