flows/Calculate_discounts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Discount_is_0</name>
        <label>Discount is 0%</label>
        <locationX>552</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Discount_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_is_10</name>
        <label>Discount is 10%</label>
        <locationX>126</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Discount_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_is_5</name>
        <label>Discount is 5%</label>
        <locationX>342</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Discount_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Discount</name>
        <label>Determine Discount</label>
        <locationX>333</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Discount_is_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Discount</defaultConnectorLabel>
        <rules>
            <name>Full_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRevenue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_is_10</targetReference>
            </connector>
            <label>Full Discount</label>
        </rules>
        <rules>
            <name>Partial_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRevenue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0E8</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountRevenue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0E8</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_is_5</targetReference>
            </connector>
            <label>Partial Discount</label>
        </rules>
    </decisions>
    <description>Calculates a discount for an opportunity based on the annual revenue of the associated account</description>
    <interviewLabel>Calculate discounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate discounts</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Related_Account</name>
        <label>Find Related Account</label>
        <locationX>125</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Discount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountRevenue</assignToReference>
            <field>AnnualRevenue</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Discount_Field</name>
        <label>Update Discount Field</label>
        <locationX>340</locationX>
        <locationY>429</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Discount_Percentage__c</field>
            <value>
                <elementReference>Discount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Find_Related_Account</startElementReference>
    <status>Active</status>
    <variables>
        <description>Stores the ID number of the account associated with the opportunity</description>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the revenue (in US dollars) of the account associated with the opportunity</description>
        <name>AccountRevenue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the discount percentage in whole number format</description>
        <name>Discount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Stores the ID number of the opportunity that triggered the flow</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
